<h1>&Agrave; propos</h1>
<p>
	Je suis Sheo Coneau-Lacour, &eacute;tudiante en Master 1 &agrave; l'Universit&eacute; d'Angers.<br />
	Ceci est la page d'informations de mon projet en Web Avanc&eacute; dont le sujet est disponible <a href="http://forge.info.univ-angers.fr/~gh/Scripts/cc2012.php">ici</a> :)
</p>
