<h1>Apprendre Ruby On Rails</h1>
<p>
	Ce projet a &eacute;t&eacute; enti&egrave;rement r&eacute;alis&eacute; &agrave; l'aide du tutoriel disponible <a href="http://railstutorial.org/help">ici</a>.
</p>

