<footer>
	<nav class="round">
		<ul>
			<li>&copy; sheo 2013 |</li>
			<li><%= link_to "A propos de...", about_path %> |</li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>

